#form {
  background: white;
  border-radius: 4px;
  width: 400px;
  height: 500px;
  margin-top: 50px;
  margin-left: 30px;
}
form {
  padding-left: 40px;
  h1{
    margin-top: 30px;
    margin-bottom: 35px;
  }
  p{
    margin-bottom: 5px;
  }
}
#hrefAndButton {
  float:right;
  margin-right: 37px;
}
button {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 30px;
  width: 195px;
  height: 40px;
}
#hrefAndButton p {
  text-align: right;
}